<!DOCTYPE html>

<html>
<head>
    <title>Data Display</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Jumlah</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Timestamp</th>
                <th>Cluster</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data_list %}
            <tr>
                <td>{{ item.jmlh }}</td>
                <td>{{ item.lat }}</td>
                <td>{{ item.lng }}</td>
                <td>{{ item.timestamp }}</td>
                <td>{{ item.cluster }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
